<ion-header>
  <ion-navbar>
    <ion-title>{{currentRecipe?.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="{{currentRecipe?.pic}}"/>
    <ion-card-content>
      <p>Serving: <strong>{{currentRecipe?.servings}}</strong></p>
      <p>Ingredients: <strong>{{currentRecipe?.ingredients}}</strong></p>
    </ion-card-content>
    <ion-card-content>
      <h2><strong>Method</strong></h2>
      <p>{{currentRecipe?.method}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (tap)="tapEvent(currentRecipe.id)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{currentRecipe?.likes_count}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="onButtonClick()">
          <ion-icon name="text"></ion-icon>
          <div>{{currentRecipe?.comments_count}}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
    <div *ngIf="buttonClicked" [formGroup]="commentArea">
      <ion-item *ngFor="let comment of recipeCommentsList">
        <ion-avatar item-start>
          <img src="{{comment?.authorPic}}">
        </ion-avatar>
        <h3>{{comment?.authorFname}} {{comment?.authorLname}}</h3>
        <p>{{comment?.recipeComment}}</p>
      </ion-item>
      <ion-row>
        <ion-col col-3>
          <ion-item><ion-avatar item-start>
          <img [src]="this.currentUserMe.pic">
        </ion-avatar></ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-textarea [(ngModel)]="recipeComment" placeholder="What do you think about {{currentRecipeChef?.firstName}}'s {{currentRecipe?.name}}?" formControlName="comment" name="comment"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
        </ion-col>
        <ion-col col-4>
      <button ion-button clear small (click)="commentEvent(currentRecipe.id, recipeComment)" [disabled]="!commentArea.valid">
        <div>Comment</div>
      </button>
      </ion-col>
    </ion-row>
    </div>
  </ion-card>
</ion-content>
