<!--
  Generated template for the ProfileViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{currentUser?.firstName}} {{currentUser?.lastName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!this.userData==true && !this.me==true" (click)="followUser()"> <ion-icon name="add-circle"></ion-icon></button>
      <button ion-button icon-only *ngIf="this.userData==true" (click)="unfollowUser()"> <ion-icon name="close-circle"></ion-icon></button>
        <button ion-button icon-only *ngIf="this.me==true" >
</button> </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-item>
  <ion-avatar>
  <img src="{{currentUser?.pic}}"  style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"/>
  </ion-avatar>
  <br>
  <p text-center>{{currentUser?.status}}</p>
</ion-item>
<ion-grid>
<ion-row>
  <ion-col col-4>
    <ion-item text-center>reputation<ion-badge id="badge">{{this.likes_sum}}</ion-badge></ion-item>
  </ion-col>
  <ion-col col-4>
    <ion-item text-center>followers<ion-badge id="badge">26</ion-badge></ion-item>
  </ion-col>
  <ion-col col-4>
    <ion-item text-center>following<ion-badge id="badge">{{currentUser?.followed_count}}</ion-badge></ion-item>
  </ion-col>
</ion-row>
</ion-grid>
  <ion-list-header> Recipes
  </ion-list-header>
  <ion-card *ngFor="let recipe of recipeList" class="img-container" on-click="goToRecipeDetails(recipe.id)">
      <img src="{{recipe?.pic}}" width="200" height="200"/>
      <div class="card-title">{{recipe?.name}}</div>
      <div class="card-subtitle">{{recipe?.community}}</div>
  </ion-card>
</ion-content>
