page-profile-view {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .img-container { background-color: #000000; }
    .img-container img { opacity: 0.5;
      // https://medium.com/@chrisnager/center-and-crop-images-with-a-single-line-of-css-ad140d5b4a87
      object-fit: cover;
     }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.5em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .card-likes {
      font-size: 1.0em;
      position: absolute;
      right: 40px;
      top: 82%;
      width: 100%;
      color: #fff;
    }

    .card-comments {
      font-size: 1.0em;
      position: absolute;
      right: -40px;
      top: 82%;
      width: 100%;
      color: #fff;
    }
  }
  ion-item ion-label {
    margin: 0 !important;
  }

  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-list-header {
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
  }

  ion-item {
    padding: 0 !important;
  }

  ion-datetime {
    padding-left: 3px !important;
  }

  .item-inner {
    border: none !important;
    padding: 0;
  }

  .popover-content {
    min-height: 0 !important;
    max-height: 88px !important;
  }

  .profile-popover {
    margin-top: -1px !important;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }

  .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
  }

  #badge {
   position: absolute;
   top: 0px;
   right: 0px;
 }
}
