<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Recipe
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
    <ion-item id="addRecipe-input10">
      <ion-label floating>
        Title
      </ion-label>
      <ion-input type="text" name="title" [(ngModel)]="recipeName"></ion-input>
    </ion-item>
    <img [src]="captureDataUrl" *ngIf="captureDataUrl" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"/>
    <img src="assets/img/X3bachEzS4WulgCpqqkL_placeholder-category.png" *ngIf="!captureDataUrl" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" (click)="getPicture(0)"/>
    <ion-item>
      <ion-label>Community</ion-label>
      <ion-select [(ngModel)]="recipeCommunity" multiple="true">
        <ion-option *ngFor="let community of (communities | async)?.communities">{{community.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="addRecipe-textarea2">
      <ion-label floating>
        Ingredients
      </ion-label>
      <ion-textarea [(ngModel)]="recipeIngredients"></ion-textarea>
    </ion-item>
    <ion-item id="addRecipe-textarea3">
      <ion-label floating>
        Method
      </ion-label>
      <ion-textarea [(ngModel)]="recipeMethod"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Servings
      </ion-label>
      <ion-input type="number" name="servings" [(ngModel)]="recipeServings"></ion-input>
    </ion-item>
    <button ion-button block
      (click)="createRecipe(recipeName, recipeIngredients, recipeCommunity, recipeServings, recipeMethod)"> Create Event
    </button>
</ion-content>
